@charset "utf-8";
/* CSS Document */
html, 
body, 
main {
  height: 100%;
}

header,
footer, 
.restaurant-bar, 
.inside #map-container,
#breadcrumb {
  display: none;
  visibility: hidden;
}

#map-container {
  height: 78%;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

ul, 
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, 
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
hgroup, 
menu, 
nav, 
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 100%;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 22vh;
  background-color: #3397DB;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 5px; 
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 25%;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 90%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 5px;
  text-align: left;
  padding: 5px;
  height: 100px;
}

#restaurants-list li a h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 10pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 5px 0 5px;
  text-transform: uppercase;
}

#restaurants-list a p {
  margin: 0;
  font-size: 10pt;
}

#restaurants-list li a {
  display: block;
}

/* ====================== Restaurant Details ====================== */
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  right: 0;
}

.inside #map {
  background-color: #ccc;
  height: 94%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px 0 10px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: calc(100% - 10px);
  padding: 5px;
  margin: 0;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0 10px 10px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* ====================== Media Queries ====================== */
@media screen and (min-width: 320px) and (max-width: 459px) {
  .inside #restaurant-img {
    object-fit: cover;
    height: 230px;
    margin-bottom: 5px;
  }

  .inside #restaurant-img,
  #restaurant-cuisine {
    margin-left: auto;
    margin-right: auto; 
    display: block;
    max-width: 400px;
  }
}

@media screen and (min-width: 460px) {
  header {
    height: 6%;
    display: block;
    visibility: visible;
  }

  main {
    height: 94%;
  }

  #map-container {
    height: 83%;
  }
}

@media screen and (min-width: 460px) and (max-width: 599px) {
  .filter-options {
    height: 16vh;
  }

  .filter-options select {
    height: 36%;
    width: 45%;
  }

  #restaurant-container {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant-main, 
  .restaurant-working-hours {
    width: 50%;
  }

  .restaurant-title {
    width: 100%;
  }

  #restaurant-hours {
    padding-left: 10px;
  }
}

@media screen and (min-width: 600px) {
  #maincontent, 
  .inside #maincontent {
    display: flex;
    flex-wrap: wrap;
  }

  #map-container,
  .inside #map-container {
    order: 1;
    width: 50%;
  }

  #map-container {
    height: 76.6%;
  }

  .inside #map-container {
    display: block;
    visibility: visible;
  }

  #breadcrumb {
    padding: 10px 40px 16px;
    width: calc(100% - 80px);
    display: block;
    visibility: visible;
  }

  .restaurant-bar {
    display: block;
    visibility: visible;
    height: 100%;
    width: 50%;
    overflow-y:scroll;
  }

  .restaurant-bar img {
    width: 120px;
    float: right;
  }

  .restaurant-info {
    width: 50%;
    overflow-y:scroll;
  }

  .inside img {
    object-fit: cover;
    height: 220px;
  }

  .map-container {
    tabindex: -1;
  }
}

@media screen and (min-width: 800px) {
  .inside #map-container, 
  #map-container {
    width: calc(100% - 400px)
  }

  .restaurant-section {
    width: 400px;
  }
}

/* ====================== Focus ====================== */
.restaurant-bar li a:focus {
  outline : none;  
}

.restaurant-bar li:focus-within,
#breadcrumb a:focus,
header a:focus {
  outline : 3px solid #76b4e5; 
}

#map:focus,
#map img:focus,
#map a:focus,
.filter-options select:focus {
  outline : 3px solid #ee814f; 
}

header a:focus {
  color : #ee814f;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #3397DB;
  padding: 8px; 
  z-index: 100;
}

.skip-link:focus {
  top: 0;
  color: white;
  outline : 3px solid #ee814f;
}